		<div class="col-sm-12">
			<h3><i class="fa fa-id-card"></i> Redigere ansatt</h3>
			<div class="ibox">
        		<div class="ibox-content">
        			<div class="panel-body">	

						<%= render 'form' %>

					</div>
				</div>
			</div>
		</div>
